import torch
import torch.nn as nn

import itertools
import time
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
import scipy.stats as stats

%matplotlib inline
plt.style.use('ggplot')

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/IanCode/Data/Big Volleyball Set (2023).csv', encoding='windows-1252')
#df['Reception Percentage'] = df['Reception Percentage'].fillna(0.5462 - 0.1029*df['Digs per Set'] + 0.5955*df['Reception Errors per Set'])
#df = df.sample(frac = 1)
df.columns
df.head()
df.info()
